.mainscreen {
    position: relative;
    background: url("../images/mainscreen/BG.png") center / 100% 100% no-repeat;
    min-height: 100vh;
    padding: 100px 0px;
    @media (max-width: 767px) {
        background: url("../images/mainscreen/BG.png") center / cover no-repeat;
        padding: 50px 0;
        min-height: 570px;
    }
    &__container {
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    &__logo {
        & img {
            max-width: 100%;
        }
        @media (max-width: 768px) {
            width: 274px;
            height: 206px;
            margin: 0px 0px 11px 0px;
        }
    }

    &__descr {
        width: 483px;
        text-align: center;
        font-size: 26px;
        line-height: 126%;
        margin: 0px 0px 25px 0px;
        @media (max-width: 767px) {
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 120%;
            width: 272px;
            margin: 0px 0px 42px 0px;
        }
    }

    &__btn {
        &:not(:last-child) {
            margin: 0px 0px 25px 0px;
        }
        @media (max-width: 768px) {
            &:not(:last-child) {
                margin: 0px 0px 10px 0px;
            }
        }
    }
}
