//*<Standard font>===========================================================================================

$fontfamaly: "Mulish", sans-serif;

//*</Standard font>==========================================================================================

$maxWidthContainer: 1280px;
//! $maxWidth: ;

//*<Цвета>=================================================================================================

$main-color: #eaae13;

//*</Цвета>=================================================================================================
