//*<Base>=======================================================================================================

// @import "base/fonts";

@import "base/animation";
@import "base/variables";
@import "base/nullstyle";
@import "base/common";

//*</Base>=====================================================================================================

//*<Header and footer>=================================================================================================

@import "blocks/header";
@import "blocks/footer";

//*</Header and footer>=================================================================================================

//*<Wrapper>==================================================================================================

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

//*</Wrapper>=================================================================================================

//*<Main grid>================================================================================================

.container {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 1200px) {
        max-width: 960px;
    }
    @media (max-width: 992px) {
        max-width: 720px;
    }
    @media (max-width: 768px) {
        max-width: 540px;
    }
    @media (max-width: 576px) {
        max-width: none;
    }
}

.page {
    flex: 1 1 auto;

    &__mainscreen {
    }

    &__preparation {
    }
}

//*</Main grid>===============================================================================================

//!===========================================================================================================

//*</Main block>==============================================================================================

//*<Mainscreen>===============================================================================================

@import "blocks/main/mainscreen";

//*</Mainscreen>==============================================================================================

//*<Preparation>=================================================================================================

@import "blocks/main/preparation";

//*</Preparation>=================================================================================================

//*<Menu>=================================================================================================

@import "blocks/main/menu";

//*</Menu>=================================================================================================

//*<How>=================================================================================================

@import "blocks/main/how";

//*</How>=================================================================================================

//*<Howmany>=================================================================================================

@import "blocks/main/howmany";

//*</Howmany>=================================================================================================

//*<About>=================================================================================================

@import "blocks/main/about";

//*</About>=================================================================================================

//*<Modal>=================================================================================================

@import "blocks/main/modal";

//*</Modal>=================================================================================================

//*</Main block>==============================================================================================

//!===========================================================================================================

.hide {
    display: none;
}

.show {
    display: block;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 0.5s;
}
